.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error{
    color: deeppink;
}

.errorMessage {
   color: deeppink;
 }

.active-filter {
   color: deeppink;
}
.isDone{
    opacity: 0.5;
}